@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #222222;
}

#app {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.imgUno{
  margin-bottom: 50px;
  height: 100px;
}

.listeJoueurs p{
  color: white;
  font-family: "Rubik", serif;
  font-size: 1.5em;
}

.card {
  color: white;
  width:116px;height:178px;float:left;
  background:#fff;
  border-radius:5px;
  display:table;
  box-sizing:border-box;
  padding:5px;
  margin:10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:100px;
  text-shadow:
     1px  1px 0 #000000,
    -1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px -1px 0 #000000,
     1px  0   0 #000000,
    -1px  0   0 #000000,
     0   -1px 0 #000000,
     0    1px 0 #000000,
     4px  4px 0 #000000;
  box-shadow:0 0 10px #aaaaaa;
  text-align:center;
  position:relative;
}

.cardContainer {
  display: flex;
  justify-content: center;
}